table{
  table-layout:fixed;
  width:100%
}

th {
  background:#c0c0c0;
}

th:nth-of-type(1),td:nth-of-type(1) {
  color:red;
}

th:nth-of-type(7),td:nth-of-type(7) {
  color:blue;
}

tbody td {
  margin:0 10px 10px 0;
  padding:10px;
  overflow:hidden;
  height:231px;
}